* {
  background-color: rgb(110, 113, 116);
}

.inicio {
  background-image: url(".../img/hrz-3.jpg)";
}

.principal{
  text-align: center;
}
nav ul{
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  justify-content: center;
  background-color: #ee82ee;
}

li, a {
  text-decoration: none;
  width: 200px;
  color: white;
  padding: 15px;
  border-radius: 2px;
}


.section .conteudo {
  text-align: center;
  align-items: center;
}

.section h1{
  text-align: center;
  align-items: center;
  color: rgb(9, 41, 41);
}

.centraliza p {
  align-items: center;
  text-align: center;
}
img {
  max-width: 250px;
  min-height: 250px;
}

.footer ul{
  text-align: center;
  background-color: rgb(110, 113, 116);;
}