body {
    font-family: roboto, Playfair;
    padding: 0; margin: 0;
    background-color: black;
}

header {
    color: #E669D0;
    text-align: center;
    padding: 20px;
}

nav {
    padding: 20;
    justify-content: center;
    display: flex;
}

nav a:hover {
color: #5277E6;

}