* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    height: 50vh;
    background-color: #000;
    padding: 50px;
    font-size: 2.5em;
    color: #ee82ee;
}

main {
    width: 65%;
    margin: auto;
}
nav ul{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    list-style: none;
    justify-content: center;
}

li, a {
    text-decoration: none;
    width: 148px;
    color: #ee82ee;
    padding: 15px;
    border-radius: 2px;
}
.menu li:hover{
    color: #ee82ee;
    background-color: #000;
    transition: 0.5;
    list-style-type: none;
    margin: 0;
    display:flex ;
    justify-content: center
    
}

section{
    display: flex;
    /* flex-direction: row; */
    margin: 20px;
    padding: 10px;
    height: 350px;
    border: 2px solid #999;
}

.conteudo-inicial{
    margin-left: 30px;
    margin-top: 30px;
}

.conteudo-inicial h1{
    font-size: 60px;
}

.conteudo-inicial p{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;
    line-height: 25px;
}

img {
    height: 350px;
}

.left{
    float: left;
}