* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9
    color(srgb red green blue) #333;
    padding: 20px;
    text-align: center;
}

.exemplo-fonte {
    margin: 30px;
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.exemplo-fonte h2 {
    font-size: 24px;
    margin-bottom: 24px;
    color: #333;
}

.exemplo-fonte p {
    font-size: 20px;
    line-height: 1.5;
}

.serifada p {
    font-family: 'Times New Roman', Times, Serif;
}

.serifada p {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.monoespaçada p {
    font-family: 'courier New', Times, Serif;
}



